.table__content {
	position: relative;
	display: table;
	width: 100%;
	border-collapse: collapse;

	&__header {
		display: table-header-group;
	}

	&__body {
		display: table-row-group;
	}

	&__row {
		display: table-row;
	}

	&__cell {
		display: table-cell;
	}
}

.table__header {
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: min-content;

	.table__row {
		padding: 0.4rem 0;

		border-bottom: 1px solid $color-grey-100;
		align-items: center;
	}

	.table__cell {
		font-weight: $fw-regular;
		font-size: 1rem;
		padding: 0.4rem 10px;
	}
}

.table__body {
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: min-content;

	.table__row {
		padding: 0.55rem 0;

		&:hover {
			color: $color-black;
			cursor: pointer;
			background-color: $color-grey-100;
		}
	}

	.table__cell {
		font-weight: $fw-light;
		font-size: 1rem;
		padding: 0.55rem 10px;
	}
}

.table__row {
	display: grid;
	grid-column-gap: 10px;
	grid-template-areas: 'check id username type date sum description attachment';

	grid-template-columns:
		auto
		minmax(110px, 1fr)
		minmax(110px, 1.5fr)
		minmax(110px, 1fr)
		minmax(150px, 1fr)
		minmax(120px, 1.5fr)
		minmax(100px, 2fr)
		minmax(50px, 0.5fr);

	align-content: start;
	align-items: center;

	@media (max-width: 960px) {
		grid-template-areas:
			'check id       date  sum         attachment'
			'check username type  description attachment';

		grid-template-columns:
			auto
			minmax(120px, 2fr)
			minmax(80px, 2fr)
			minmax(80px, 2fr)
			minmax(100px, 0.5fr);
	}

	@media (max-width: 640px) {
		grid-template-areas:
			'check id       date sum'
			'check username type description';

		grid-template-rows: repeat(2, min-content);
		grid-template-columns:
			auto
			minmax(120px, 1.5fr)
			minmax(100px, 1.5fr)
			minmax(80px, 1fr);
	}

	@media (max-width: 480px) {
		grid-template:
			'check id         date'
			'check id         sum'
			'check username   type'
			'check username   description';

		grid-template-columns:
			auto
			minmax(120px, 1.5fr)
			minmax(80px, 1fr);
	}
}

.table__cell {
	&-check {
		grid-area: check;
	}

	&-id {
		grid-area: id;
	}

	&-username {
		grid-area: username;
	}

	&-type {
		grid-area: type;
		color: $color-violet;
	}

	&-date {
		grid-area: date;
		color: $color-blue;

		b {
			display: block;
		}
	}

	&-sum {
		grid-area: sum;
		color: $color-green;
	}

	&-description {
		grid-area: description;
		color: $color-yellow;
	}

	&-attachment {
		grid-area: attachment;

		@media (max-width: 640px) {
			display: none;
		}
	}
}
