$color-black: #000000;
$color-white: #fff;

$color-accent: #b70000;
$color-primary: #030235;
$color-deposit: #e5a8df;
$color-withdraw: #a384db;

$color-grey-500: #65676d;
$color-grey-300: #6b6e85;
$color-grey-100: #98a0ad;
