* {
  margin: 0;
  padding: 0;
  color: $color-primary;
  font-family: $font-main;
  font-weight: $fw-light;
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}
